Projects/MovieDB/movie_database_schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Movie_database" type="movie_db">
	</xs:element>
		<xs:complexType name="movie_db">
			<xs:sequence>
				<xs:element ref="movie" maxOccurs="unbounded"/>
				<xs:element ref="user" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		
	<xs:element name="movie" type="movie_type">
		<xs:key name="movie_id">
			<xs:selector xpath="movie_database/movie" />
			<xs:field xpath="@id "/>
		</xs:key>
	</xs:element>
	
		<xs:complexType name="movie_type">
			<xs:sequence>
				<xs:element ref="title" />
				<xs:element ref="year" />
				<xs:element ref="director" />
				<xs:element ref="major_actors" />
				<xs:element ref="country" />
				<xs:element ref="language" />
				<xs:element ref="production_company" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
		</xs:complexType>
		
	<xs:element name="title" type="xs:string"/>
	<xs:element name="year" type="xs:integer"/>
	<xs:element name="director" type="xs:string"/>
	<xs:element name="country" type="xs:string"/>
	<xs:element name="language" type="xs:string"/>
	<xs:element name="production_company" type="xs:string"/>
	
	<xs:element name="major_actors" type="major_actors_type"/>
	    <xs:complexType name="major_actors_type">
			<xs:sequence>
				<xs:element ref="actor" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="actriss" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		
	<xs:element name="actor" type="xs:string"/>
	<xs:element name="actriss" type="xs:string"/>
	
	
	<xs:element name="user" type="user_type">
		<xs:key name="username">
			<xs:selector xpath="movie_database/user" />
			<xs:field xpath="@username "/>
		</xs:key>
	</xs:element>
		
		<xs:complexType name="user_type">
			<xs:sequence>
				<xs:element ref="name" />
				<xs:element ref="adress" />
				<xs:element ref="email" />
			</xs:sequence>
			<xs:attribute name="username" type="xs:ID" use="required"/>
			<xs:attribute name="password" type="xs:string" use="required"/>
		</xs:complexType>
		
	<xs:element name="adress" type="xs:string"/>
	<xs:element name="email" type="xs:string"/>
	
	<xs:element name="name" type="name_type"/>
		<xs:complexType name="name_type">
			<xs:sequence>
				<xs:element ref="f_name" />
				<xs:element ref="l_name" />
			</xs:sequence>
		</xs:complexType>
		
	<xs:element name="f_name" type="xs:string"/>
	<xs:element name="l_name" type="xs:string"/>

		
</xs:schema>
